<h1>Edit</h1>
<form method="POST" action="{{ url_for('edit', title=post.title) }}">
	<label>Edit Title</label></br>
	
	<input type="text" name="title" value="{{ request.form.get('title', post.title) }}"></br>
	<label> Edit Body</label></br>
	
	
	<label for="Content" class="col-sm-2 control-label">Content</label>
	<div class="col-sm-10">
		<textarea class="form-control" id="body" name="body" value="{{ request.form.get('body', post.body) }}" style="height: 300px;">{{ request.form.get('title', post.body) }}</textarea>
	</div>
	
	<input type="submit" value="Create">
	
</form>